.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.error-message h1 {
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
  margin: 0px;
}

.error-message span {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}

.error-message a {
  margin-top: 150px;
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
}

/****************** adaptation pour mobile ******************/
/****************** adaptation pour mobile ******************/
/****************** adaptation pour mobile ******************/

@media (732px > width) {
  .error-message a {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
  }
}
